# Builds the project
name: Android Release CI

on:
  push:
    tags:
      - '*.*.*.*'

jobs:
  build:
    name: Build, Sign & Release
    if: "!startsWith(github.ref_name, 'nightly')"
    runs-on: ubuntu-latest
    env:
      KEY_STORE_FILE: ${{ secrets.SIGNINGKEY_BASE64 }}       # optional if using a file from env
      KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

    steps:
      - name: Checkout project
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ github.actor == 'dependabot[bot]' && secrets.GITHUB_TOKEN || secrets.GIT_BOT_TOKEN }}
          fetch-depth: 0       # Fetch full history

      - name: set up JDK 17
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Stop Gradle daemons
        run: ./gradlew --stop

      - name: Build
        run: ./gradlew clean assembleProdRelease --refresh-dependencies --no-daemon && ./gradlew clean bundleProdRelease --refresh-dependencies --no-daemon
        env:
          JAVA_TOOL_OPTIONS: "-Dhttps.protocols=TLSv1.2"

      - name: Release to GitHub
        uses: svenstaro/upload-release-action@2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: app/build/outputs/apk/prob/release/app-prod-release.apk
          asset_name: MultiLauncher-${{ github.ref_name }}-Signed.apk
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload ProGuard Mapping File
        uses: svenstaro/upload-release-action@2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: app/build/outputs/mapping/prodRelease/mapping.txt
          asset_name: MultiLauncher-${{ github.ref_name }}-mapping.txt
          tag: ${{ github.ref }}
          overwrite: true

      - name: Release to GitHub
        uses: svenstaro/upload-release-action@2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: app/build/outputs/bundle/prodRelease/app-prod-release.aab
          asset_name: MultiLauncher-${{ github.ref_name }}-Signed.aab
          tag: ${{ github.ref }}
          overwrite: true

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'  # or whatever version you need

      - name: Post Release to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          DISCORD_ROLEID: ${{ secrets.DISCORD_ROLEID }}
        run: |
          # Run your Discord release script
          node post-discord-release.js
