name: Nightly Release

on:
  schedule:
    - cron: "0 0 * * *" # This runs at midnight UTC every day
  workflow_dispatch: # This allows the workflow to be triggered manually

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete existing nightly release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          old_releases=$(curl -sSf -H "Authorization: Bearer $GITHUB_TOKEN" \
          "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases" | jq -r '.[] | select(.tag_name | startswith("nightly-")) | .id + " " + .tag_name')
          
          for release in $old_releases; do
          release_id=$(echo $release | cut -d' ' -f1)
          tag_name=$(echo $release | cut -d' ' -f2)
          
          # Delete release
          curl -sSf -H "Authorization: Bearer $GITHUB_TOKEN" \
            -X DELETE "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/${release_id}"
          
          # Delete tag
          curl -sSf -H "Authorization: Bearer $GITHUB_TOKEN" \
            -X DELETE "https://api.github.com/repos/${GITHUB_REPOSITORY}/git/refs/tags/${tag_name}"
            done

  build:
    name: Build, Sign & Release
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout project
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: set up JDK 17
        uses: actions/setup-java@v4.7.1
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - uses: actions/cache@v4.2.3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean && ./gradlew assembleNightlyRelease

      - name: Sign APK - Nightly
        uses: ilharp/sign-android-release@v2.0.0
        # ID used to access action output
        id: sign_app_nightly
        with:
          releaseDir: app/build/outputs/apk/nightly/release
          signingKey: ${{ secrets.SIGNINGKEY_BASE64 }}
          keyAlias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          buildToolsVersion: 35.0.0

      - name: Extract Version
        id: extract_version
        run: |
          version=$(date +"%Y.%m.%d")
          echo "version=$version" >> $GITHUB_ENV
        shell: bash

      - name: Create Git Tag
        run: |
          git tag nightly-${{ env.version }}
          git push origin nightly-${{ env.version }}
        shell: bash

      - name: Rename files
        run: |
          mkdir -p ./build/release/
          mv ${{steps.sign_app_nightly.outputs.signedFile}} ./build/release/mLauncher-Nightly-Signed.apk
        shell: bash

      - name: Create and Upload Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: nightly-${{ env.version }}
          name: Nightly Release ${{ env.version }}
          body: "![GitHub Downloads (total, specific tag)](https://img.shields.io/github/downloads/CodeWorksCreativeHub/mLauncher/nightly/total)"
          append_body: false
          files: ./build/release/mLauncher-Nightly-Signed.apk
          prerelease: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
